---
layout: default
title: Impression
permalink: /impression
---

<div class="row">
  <div class="col s12">
    
    <h4>Geschichte</h4>
    <hr>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur obcaecati deleniti veniam corporis voluptatibus explicabo temporibus eligendi, incidunt sequi asperiores! Tenetur iste amet quaerat accusantium sed blanditiis sit eos vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dignissimos possimus quidem facere excepturi molestiae ullam tenetur est, numquam repellat vitae nisi temporibus exercitationem ab doloribus aspernatur quibusdam quasi doloremque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloribus quia, officiis enim aliquam amet quos tenetur illum quas nisi facere soluta? Voluptatibus dolores officiis nam id assumenda ipsam aspernatur. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iure laudantium quibusdam, iusto exercitationem totam non expedita doloribus officiis nihil dolores illum sint rem aliquid maiores eaque itaque repudiandae cumque? </p>

    <h4>Impressionen</h4>
    <hr>


  <div class="row">
    <div class="col s12">
      <div class="tabs">
        {% for impression in site.data.impressionen.brands.martini_sportswear %}
          <li class="tab col s3"><a href="#{{impression.id}}" class="black-text" style="border-bottom-color: black;">{{impression.collections}}</a></li>
        {% endfor %}
      </div>    
    </div>
    {% for impression in site.data.impressionen.brands.martini_sportswear %}
    <div class="col s12 gallery-wrapper" id="{{impression.id}}">
      <div data-nanogallery2='{
        "userID": "102674011871822108337",
        "kind": "google2",
        "google2URL": "https://brandstore.tirol/nanogp/nanogp.php",
        "album": "{{impression.albumID}}",
        "thumbnailWidth": "auto",
          "thumbnailBorderVertical": 1,
          "thumbnailBorderHorizontal": 1,
          "colorScheme": {
            "thumbnail": {
              "background": "rgba(0,0,0,1)"
            }
          },
          "thumbnailLabel": {
            "display": false
          },
          "galleryDisplayMode": "pagination",
          "galleryMaxRows": 3,
          "thumbnailAlignment": "center"
      }'>
      </div>
    </div>
    {% endfor %}
  </div>
  
  </div>
</div>