---
layout: default
title: MARTINI SPORTSWEAR
permalink: /martini_sportswear
brand: brands.martini_sportswear.martini_sportswear
---

  {% capture brand %}
    {{page.brand}}
  {% endcapture %}

  </div>
  {% include teaser/brand-teaser.html brand=brand %}
  <script>
	function init_gallery(albumID){
	
		if(typeof($('#nanogalleryGeneric')) != "undefined"){
			$('#nanogalleryGeneric').nanogallery2("destroy");
			$('#nanogalleryGeneric').remove();			
		}
		
		var e = document.createElement("div");
		$(e).attr('id','nanogalleryGeneric');
		$('#galleryContainer').append(e);
		
		$("#nanogalleryGeneric").nanogallery2({
			"userID": "102674011871822108337",
			"kind": "google2",
			"google2URL": "https://brandstore.tirol/nanogp/nanogp.php",
			"album": albumID,
			"thumbnailWidth": "auto",
			  "thumbnailBorderVertical": 1,
			  "thumbnailBorderHorizontal": 1,
			  "colorScheme": {
				"thumbnail": {
				  "background": "rgba(0,0,0,1)"
				}
			  },
			  "thumbnailLabel": {
				"display": false
			  },
			  "galleryDisplayMode": "pagination",
			  "galleryMaxRows": 3,
			  "thumbnailAlignment": "center"
		});
	}
	
	$( document ).ready(function(){
		document.getElementById("anchor_AKTUELL").click();
	});

  </script>
  <div class="container">

  <div class="row">
    <div class="col s12">
    {% for brand in site.data.brands.martini_sportswear.martini_sportswear %}
      <h6>IMPRESSIONEN</h6>
      <hr style="margin-left: 0px;margin-right: 0px;">
    {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="tabs">
        {% for impression in site.data.brands.martini_sportswear.impressionen_martini_sportswear %}
			<li class="tab col s3"><a id="anchor_{{impression.collections}}" href="#galleryContainer" onclick="init_gallery('{{impression.albumID}}')" class="black-text" style="border-bottom-color: black;">{{impression.collections}}</a></li>
        {% endfor %}
      </div>    
    </div>
    
    <div class="col s12 gallery-wrapper" id="galleryContainer">

    </div>
    
  </div> 
</div>
</div>