---
layout: default
title: PAULS TATTOOS
permalink: /pauls_tattoos
brand: kunst_madreiter.pauls_tattoos.pauls_tattoos
---

  {% capture pauls_tattoos %}
    {{page.pauls_tattoos}}
  {% endcapture %}

  </div>
	{% include teaser/pauls_tattoos-teaser.html pauls_tattoos=pauls_tattoos %}

  <script>
	function init_gallery(albumID){
	
		if(typeof($('#nanogalleryGeneric')) != "undefined"){
			$('#nanogalleryGeneric').nanogallery2("destroy");
			$('#nanogalleryGeneric').remove();			
		}
		
		var e = document.createElement("div");
		$(e).attr('id','nanogalleryGeneric');
		$('#galleryContainer').append(e);
		
		$("#nanogalleryGeneric").nanogallery2({
			"userID": "116403475487081251072",
			"kind": "google2",
			"google2URL": "https://www.pauls-tattoos.com/nanogp2/nanogp2.php",
			"album": albumID,
			"thumbnailWidth": "auto",
			  "thumbnailBorderVertical": 1,
			  "thumbnailBorderHorizontal": 1,
			  "colorScheme": {
				"thumbnail": {
				  "background": "rgba(0,0,0,1)"
				}
			  },
			  "thumbnailLabel": {
				"display": false
			  },
			  "galleryDisplayMode": "pagination",
				"galleryMaxRows": 3,
				"gallerySorting": "random",
			  "thumbnailAlignment": "center"
		});
	}
	
	$( document ).ready(function(){
		document.getElementById("anchor_AKTUELL").click();
	});

	</script>

  <div class="container">
		
		<!-- klassifizierung -->
		<div class="row" style="background-color: white; color: black">
			<h6 style="padding-left: 10px">KÜNSTLER</h6>
				{% assign pauls_tattoos_groups = site.data.pauls_tattoos_all.pauls_tattoos_groups %}
				{% include card.html item=pauls_tattoos_groups size="s12 m4" %}
		</div>

		<!-- klassifizierung 2 -->
		<div class="row" style="background-color: white; color: black;">
			<h6 style="padding-left: 10px">MODELS | PRESSE | CONVENTIONS</h6>
			{% assign pauls_tattoos_model_groups = site.data.pauls_tattoos_all.pauls_tattoos_model_groups %}
			{% include card.html item=pauls_tattoos_model_groups size="s12 m4" %}
	</div>

  <div class="row">
    <div class="col s12">
    {% for pauls_tattoos in site.data.kunst_madreiter.pauls_tattoos.pauls_tattoos %}
      <h6>IMPRESSIONEN</h6>
      <hr style="margin-left: 0px;margin-right: 0px;">
    {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
			<div class="tabs" style="background-color: black;">
        {% for impression in site.data.kunst_madreiter.pauls_tattoos.impressionen_pauls_tattoos %}
			<li class="tab col s3"><a id="anchor_{{impression.collections}}" href="#galleryContainer" onclick="init_gallery('{{impression.albumID}}')" class="white-text" style="border-bottom-color: black;">{{impression.collections}}</a></li>
        {% endfor %}
      </div>    
    </div>
    
    <div class="col s12 gallery-wrapper" id="galleryContainer">

    </div>
    
  </div> 
</div>
</div>