<div id="map"></div>
<!--
<style>
    #map {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        background-color: grey;
    }
</style>
<script>
    function initMap() {
    var uluru = {lat: 47.538751, lng: 12.084198};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
    }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRgULXbJdk1VMPO9yjD9N_8NIwHXKBfQs&callback=initMap">
</script>
-->
