<div id="map"></div>
<style>
    #map {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        background-color: grey;
    }
</style>

  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 47.5383611, lng: 12.0823934},
        zoom: 8
      });
    }
  </script>

<!--<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMO9foWFeg1ryZMaEb3xYfB0gKeYZfc4&callback=initMap">
</script>-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMO9foWFeg1ryZMaEb3xYfB0gKeYZfc4&callback=initMap"
    async defer></script>