*::selection {
  background-color: #546E7A;
  color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

.slider {
  .slides {
    li {
      .logo-banner {
        width: 70px;
        }
      
      .caption {
        max-width: 800px;
        background-color: rgba(0,0,0,.7);
        border: 1px solid white;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 5%;
        left: 8%;
        width: 70%;
        opacity: 1;
      }
    }
  }
}

.brandstore-quer {
  top: 0;
  left: 0;
  // transform: translate(-50%, 0);
  width: 100%;
  // height: 150px;
  padding: 0;
  border: 0;
}


.dropdown-content {
  color: black;
}

nav {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
}

nav.nav-extended .nav-wrapper {
  min-height: 80px;
}

nav i.material-icons {
  height: 80px;
  line-height: 80px; 
}

nav .sidenav-trigger {
  height: 80px;
}

nav .sidenav-trigger i {
  height: 80px;
  line-height: 80px; 
}

.navbar-fixed {
  
  height: 80px;
}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 80px; }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 80px; }
  .navbar-fixed {
    height: 80px; } 
}

.card {
  font-size: 18px;
}

.card .card-title {
  font-size: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #000;
  }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #000; 
  }

@media only screen and (max-width: 1022px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

@media only screen and (max-width: 799px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

@media only screen and (max-width: 673px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

@media only screen and (max-width: 567px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

@media only screen and (max-width: 503px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

@media only screen and (max-width: 461px) {
  .slider {
    height: 350px !important; }
    .slider .slides {
      height: 350px !important; } }

//iphone 5, galaxy s5
//
@media only screen and (max-width: 360px) {
  .brand-logo img {
    height: 76px;
    width: 95%;
  }         
}

//logo left --> zieht nicht -- materialize zeile 3262
//
@media only screen and (max-width: 360px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    nav .brand-logo.left, nav .brand-logo.right {
      padding: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    nav .brand-logo.left {
      left: 0.5rem; }
    nav .brand-logo.right {
      right: 0.5rem;
      left: auto; } }

//h5 --> zieht nicht -- materialize zeile 3410
//
h5 {
  margin-left: 10px; }

//h7 für home teaser title --> zieht nicht -- materialize zeile 3410
//
h7 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.09333rem 0 0.656rem 0; }

//hr --> zieht nicht -- materialize zeile 1682
//
hr {
  margin-left:  10px;
  margin-right: 10px; }

//hr für impressionen
//
hrImp {
  margin-left:  0px;
  margin-right: 0px; }

//tabs
//
.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  }