*::selection {
  background-color: #546E7A;
  color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #546E7A;
}
.slider {
    .slides {
      li {
        .caption {
          position: absolute;
          top: 10%;
          left: 8%;
          width: 70%;
          height: 100%;
          max-height: 70vh;
          opacity: 0;
        }
      }
    }
}

.dropdown-content {
  color: black;
}