/*
 * Banner Styling
*/

.banner-text {
    max-width: 800px;
    background-color: rgba(0,0,0,.7);
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    // box-shadow: 0px 0px 30px rgba(0,0,0,.8);

    h3 {
        text-align: left;
        font-size: 1em;
    }

    p {
        font-size: 1.1em;
    }
}

/*
 * Navbar Styling
*/
// .dropdown-content {
//
//     li > a {
//         color: color("mdsorange", "base");
//     }
// }

.top-right-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(255,255,255, .7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.slider-arrows .left-arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;

    i {
        font-size: 80px;
        cursor: pointer;
    }
}

.slider-arrows .right-arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 10px;
    color: white;

    i {
        font-size: 80px;
        cursor: pointer;
    }
}
