/*
 * Banner Styling
*/

.banner-text {
    // max-width: 800px;
    // background-color: rgba(0,0,0,.7);
    // border: 2px solid white;
    // border-radius: 5px;
    // padding: 20px;
    
    // box-shadow: 0px 0px 30px rgba(0,0,0,.8);

    h3 {
        text-align: justify;
        font-size: 1em;
    }

    p {
        font-size: 1.1em;
    }
}

// @media only screen and (max-width: 600px) {
//     .banner-text {

//     }
// }

/*
 * Navbar Styling
*/
// .dropdown-content {
//
//     li > a {
//         color: color("mdsorange", "base");
//     }
// }

.top-right-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(255,255,255, .7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 670px) {
    .top-right-logo {
        display: none;
        padding: 0;
        width: 30%;
        border-radius: 0px;
    }
}

.slider-arrows .left-arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;

    i {
        font-size: 80px;
        cursor: pointer;
    }
}

.slider-arrows .right-arrow {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 10px;
    color: white;

    i {
        font-size: 80px;
        cursor: pointer;
    }
}
