*::-moz-selection {
  background-color: #546E7A;
  color: #fff; }

*::selection {
  background-color: #546E7A;
  color: #fff; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); }

.slider .slides li .logo-banner {
  width: 70px; }

.slider .slides li .caption {
  max-width: 980px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  padding: 20px;
  position: absolute;
  border-radius: 0px;
  top: 20%;
  left: 15.8%;
  width: 70%;
  opacity: 1; }

.brandstore-quer {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border: 0; }

.dropdown-content {
  color: white; 
  background-color: black; }

nav {
  background-color: #fff;
  height: 80px;
  line-height: 80px; }

nav.nav-extended .nav-wrapper {
  min-height: 80px; }

nav i.material-icons {
  height: 80px;
  line-height: 80px; }

nav .sidenav-trigger {
  height: 80px; }

nav .sidenav-trigger i {
  height: 80px;
  line-height: 80px; }

.navbar-fixed {
  height: 80px; }

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 80px; }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 80px;
    line-height: 80px; }
  .navbar-fixed {
    height: 80px; } }

.card {
  font-size: 18px; }

@media only screen and (max-width: 1022px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 799px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 673px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 567px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 503px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 461px) {
  .slider {
    height: 350px !important; }
  .slider .slides {
    height: 350px !important; } }

@media only screen and (max-width: 360px) {
  .brand-logo img {
    height: 30px;
    width: 70%; } }