<!doctype html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <title>
      {% if page.title != null %} 
        {{ page.title }} | {{ site.title }} 
      {% else %} 
        TOM | {{ site.title }} 
      {% endif %} 
    </title>
    <meta charset="uf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ '/assets/css/materialize.css ' | relative_url }}">
    <link  href="{{ 'assets/nano-gallery/css/nanogallery2.css' | relative_url }}" rel="stylesheet" type="text/css">
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/bin/materialize.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/nano-gallery/jquery.nanogallery2.core.js' | relative_url }}"></script>
    <script>
      window.ngImgMax = 720;
    </script>
    <script src="{{ 'assets/nano-gallery/jquery.nanogallery2.data_google2.js' | relative_url }}"></script>
  </head>
  <body>

    <!-- ================== -->
    <!--    START BANNER    -->
    <!-- ================== -->
    <img src="{{ '/assets/img/logos/bs_adresse_white_black.png' | relative_url }}" alt="brandstore tirol logo" class="brandstore-quer hide-on-med-and-up">
    <!--<img src="{{ '/assets/img/logos/bs_logo_black_hoch.png' | relative_url }}" alt="brandstore tirol logo" class="top-right-logo hide-on-small-only" style="width: 20%;">-->
    <!-- | append: site.github.build_revision -->
    <div class="slider">
      <!-- <div class="slider-arrows">
        <div class="left-arrow"><i class="material-icons" onclick="instance.next()">keyboard_arrow_right</i></div>
        <div class="right-arrow"><i class="material-icons" onclick="instance.prev()">keyboard_arrow_left</i></div>
      </div> -->
      <ul class="slides">
        {% for banner in site.data.default.banner.banner %}
        <li>
          <img src="assets/img/banner/{{banner.img-url}}" alt="">
          <div class="caption banner-text hoverable" style="text-align: justify;">
            <h4>{{ banner.title }}</h4>
            <p class="light grey-text text-lighten-3 flow-text">{{ banner.text }}</p>
            <p class="hashtag light grey-text text-lighten-3 flow-text" style="text-align: left;">{{ banner.hashtag }}</p>
            <p class="light grey-text text-lighten-3 flow-text">{{ banner.greetings }}</p>
            <img src="{{ 'assets/img/logos/bs_symbol_white_transparent.png' | relative_url }}" alt="" class="logo-banner">
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!--     END BANNER     -->
    <!-- ================== -->



    <!-- ================== -->
    <!--    START NAVBAR    -->
    <!-- ================== -->
    <nav style="z-index: 2">
      <div class="nav-wrapper black white-text">
        <div class="container">
          <a href="{{ site.baseurl }}" class="brand-logo"><img style="height: 70px; padding: 4px 0;" src="{{ 'assets/img/logos/bs_adresse_white_black.png' | relative_url }}" alt=""></a>
          <ul id="nav-mobile" class="right">
            <li><a href="#!" class="dropdown-trigger btn-floating red" data-target="main_dropdown" style="font-size: 25px; margin-top: 50px; font-weight: 600; color: black;"><i class="material-icons">menu</i></a></li>
            <ul id="main_dropdown" class="dropdown-content">
              <li><a href="{{site.baseurl}}/news">NEWS</a></li>
              <li><a href="{{site.baseurl}}/besonderes">BESONDERES</a></li>
              <li><a href="{{site.baseurl}}">HOME</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ================== -->
    <!--     END NAVBAR     -->
    <!-- ================== -->

    <div class="container">
      {{ content }}
    </div>

    <!-- ================== -->
    <!--    START FOOTER    -->
    <!-- ================== -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
            {% for item in site.data.default.footer.footer %}
              <div class="col s12 m6">
                <h5 class="footer-header white-text">{{ item.title }}</h5>
                <ul>
                  {% for content in item.content %}
                    <li><a href="{{ site.baseurl }}{{ content.url }}" class="footer-links grey-text text-lighten-3">{{ content.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; 2018 TM.BRAND.STORE GmbH - BRANDSTORE.TIROL
        </div>
      </div>
    </footer>
    <!-- ================== -->
    <!--     END FOOTER     -->
    <!-- ================== -->
  </body>
</html>

<style>
  .dropdown-content li > a, .dropdown-content li > span {
    color: black;
  }
</style>

<script>  

  // Dropdown
  var elems = document.querySelectorAll('.dropdown-trigger');
  var instances = M.Dropdown.init(elems, { hover: false, coverTrigger: false });

  // Slider
  var elem = document.querySelector('.slider');
  var instance = M.Slider.init(elem, { height: 900, indicators: false });

  $('.tabs').tabs();

  // Amazon Drive REST-API
  // var xhr = new XMLHttpRequest();
  // xhr.open("GET", "https://www.amazon.com/ap/oa?amzn1.devportal.webapp.0b11294ea83a4c9683299dc53a42d0f1&scope=clouddrive%3Aread_all%20clouddrive%3Awrite&response_type=token&redirect_uri=http://localhost");
  // xhr.send()

  // console.log(xhr.status)

</script>
