<!doctype html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="uf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ '/assets/css/materialize.css ' | relative_url }}">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/bin/materialize.js' | relative_url }}"></script>
  </head>
  <body>

    <!-- ================== -->
    <!--    START BANNER    -->
    <!-- ================== -->
    <img src="{{ '/assets/img/logo-mds-small.png' | relative_url }}" alt="brandstore tirol logo " class="hide-on-small-only top-right-logo">
    <!-- | append: site.github.build_revision -->
    <div class="slider hide-on-small-only">
      <div class="slider-arrows">
        <div class="left-arrow"><i class="material-icons" onclick="instance.next()">keyboard_arrow_right</i></div>
        <div class="right-arrow"><i class="material-icons" onclick="instance.prev()">keyboard_arrow_left</i></div>
      </div>
      <ul class="slides">
        {% for banner in site.data.default.banner.banner %}
        <li>
          <img src="{{ site.baseurl }}/{{ banner.img-url }}" alt="">
          <div class="caption banner-text hoverable">
            <h4>{{ banner.title }}</h4>
            <p class="light grey-text text-lighten-3 flow-text">{{ banner.text }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- ================== -->
    <!--     END BANNER     -->
    <!-- ================== -->



    <!-- ================== -->
    <!--    START NAVBAR    -->
    <!-- ================== -->
    <nav class="main-nav" style="z-index: 2">
      <div class="nav-wrapper black white-text">
        <div class="container">
          <a href="{{ site.baseurl }}" class="brand-logo"><img style="height: 60px; padding: 4px 0;" src="{{ 'http://via.placeholder.com/150x60' | relative_url }}" alt=""></a>
          <ul id="nav-mobile" class="right">
              <li><a href="#!" class="dropdown-trigger" data-target="main_dropdown" style="font-size: 25px; font-weight: 600"><i class="material-icons">menu</i></a></li>
              <ul id="main_dropdown" class="dropdown-content">
                <li><a href="#!">Über uns</a></li>
                <li><a href="#!">Brands</a></li>
                <li><a href="#!">Kontakt</a></li>
                <!-- <li><a href="#!">Shop</a></li> -->
              </ul>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ================== -->
    <!--     END NAVBAR     -->
    <!-- ================== -->

    <div class="container">
      {{ content }}
    </div>

    <!-- ================== -->
    <!--    START FOOTER    -->
    <!-- ================== -->
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
            {% for item in site.data.default.footer.footer %}
              <div class="col s12 m6">
                <h5 class="footer-header white-text">{{ item.title }}</h5>
                <ul>
                  {% for content in item.content %}
                    <li><a href="{{ content.url }}" class="footer-links grey-text text-lighten-3">{{ content.title }}<a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; 2018 More Dimensions GmbH
        </div>
      </div>
    </footer>
    <!-- ================== -->
    <!--     END FOOTER     -->
    <!-- ================== -->
  </body>
</html>

<script>
  // var BannerHeight = $('#BannerHeight').innerHeight();

  var elem = document.querySelector('.main-nav');
  var instance = M.Pushpin.init(elem, { top: 900 });

  // Dropdown
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, { hover: true, coverTrigger: false });
  });

  // $('.dropdown-trigger').dropdown({ coverTrigger: false, hover: true });

  var elems = document.querySelector('.sidenav');
  var instance = M.Sidenav.init(elem);

   // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  var elem = document.querySelectorAll('.collapsible');
  var instance = M.Collapsible.init(elem);
  // $('.collapsible').collapsible();

  // Slider
  var elem = document.querySelector('.slider');
  var instance = M.Slider.init(elem, { height: 900, indicators: false });

</script>
