<!doctype html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <title>
      {% if page.title != null %} 
        {{ page.title }} | {{ site.title }} 
      {% else %} 
        TOM | {{ site.title }} 
      {% endif %} 
    </title>
    <meta charset="uf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ '/assets/css/materialize.css ' | prepend: site.baseurl }}">
    <link  href="{{ '/assets/nano-gallery/css/nanogallery2.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/bin/materialize.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/nano-gallery/jquery.nanogallery2.core.js' | prepend: site.baseurl }}"></script>
    <script>
      window.ngImgMax = 720;
    </script>
    <script src="{{ '/assets/nano-gallery/jquery.nanogallery2.data_google2.js' | prepend: site.baseurl }}"></script>
  </head>
  <body>

  <!-- ================== -->
  <!--    START NAVBAR    -->
  <!-- ================== -->
  <div class="navbar-fixed">
    <nav style="z-index: 2">
      <div class="nav-wrapper black white-text">
        <div class="container">
          <a href="{{ site.baseurl }}" class="brand-logo"><img style="height: 80px; margin-left: 10px;" src="{{ '/assets/img/logos/bs_adresse_white_black_small.png' | prepend: site.baseurl }}" alt=""></a>
          <ul id="nav-mobile" class="right">
            <li><a href="#!" class="dropdown-trigger" data-target="main_dropdown" style="font-size: 25px; font-weight: 600; color: white;"><i class="material-icons">menu</i></a></li>
            <ul id="main_dropdown" class="dropdown-content">
              <li><a href="{{site.baseurl}}">HOME</a></li>
              <li><a href="{{site.baseurl}}/news_main">NEWS</a></li>
              <li><a href="{{site.baseurl}}/brands_main">UNSERE BRANDS</a></li>
              <li><a href="{{site.baseurl}}/shop_main">UNSERE SHOPS</a></li>
              <li><a href="{{site.baseurl}}/specials_main">BESONDERES</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- ================== -->
  <!--     END NAVBAR     -->
  <!-- ================== -->

    <!-- ================== -->
    <!--    START BANNER    -->
    <!-- ================== -->
    
    <!-- animation -->
    <!-- ================== -->
 
    
    <!-- <img src="{{ '/assets/img/logos/bs_adresse_white_black.png' | relative_url }}" alt="brandstore tirol logo" class="brandstore-quer hide-on-med-and-up">
    <img src="{{ '/assets/img/logos/bs_logo_black_hoch.png' | relative_url }}" alt="brandstore tirol logo" class="top-right-logo hide-on-small-only" style="width: 20%;">
    <div class="slider">
      <div class="slider-arrows">
        <div class="left-arrow"><i class="material-icons" onclick="instance.next()">keyboard_arrow_right</i></div>
        <div class="right-arrow"><i class="material-icons" onclick="instance.prev()">keyboard_arrow_left</i></div>
      </div>
      <ul class="slides">
        {% for banner in site.data.default.banner.banner %}
        <li>
          <img src="assets/img/banner/{{banner.img-url}}" alt="">
          
          <!-- bei bedarf aktivieren-->
          <!--div class="caption banner-text hoverable" style="text-align: justify;">
            <p class="light grey-text text-lighten-3 flow-text">{{ banner.text3 }}</p>
          </div>
          
        <!-- </li>
        {% endfor %}
      </ul>
    </div>
  </div> -->

  <div class="slider">
    <ul class="slides">
      {% for banner in site.data.default.banner.banner %}
      <li>
        <img src="{{site.baseurl}}/assets/img/banner/{{banner.img-url}}" alt="">

        <!-- bei bedarf aktivieren-->
        <!--<div class="caption banner-text hoverable" style="text-align: justify;">
          <p class="light grey-text text-lighten-3 flow-text">{{ banner.text3 }}</p>
        </div> --> 

      </li>
      {% endfor %}
    </ul>
  </div> 
  
  <!-- ================== -->
  <!--     END BANNER     -->
  <!-- ================== -->

  <!-- ================== -->
  <!--    START content    -->
  <!-- ================== -->
  <div class="container mainbody">
    {{ content }}
  </div>

  <!-- ================== -->
  <!--    START content    -->
  <!-- ================== -->

  <!-- ================== -->
  <!--    START FOOTER    -->
  <!-- ================== -->
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
          {% for item in site.data.default.footer.footer %}
            <div class="col s12 m6">
              <h6 class="footer-header white-text">{{ item.title }}</h6>
              <ul>
                {% for content in item.content %}
                  <li>
                    {% if content.type == internal %}
                    <a href="{{ site.baseurl }}{{ content.url }}" class="footer-links grey-text text-lighten-3">{{ content.title }}</a>
                    {% else %}
                    <a href="{{ content.url }}" class="footer-links grey-text text-lighten-3" target="{{ content.target }}">{{ content.title }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a style= "margin-left: 10px; color: white; font-size:  12px;"> &copy; TM.BRAND.STORE GmbH - BRANDSTORE.TIROL </a>
      </div>
    </div>
  </footer>
  <!-- ================== -->
  <!--     END FOOTER     -->
  <!-- ================== -->
  </body>
</html>

<style>
    .dropdown-content li > a, .dropdown-content li > span {
      color: white;
      background-color: black;
    }
    a {
      color: #9e9e9e; }
</style>

<script>  

  // Dropdown menü
  var elems = document.querySelectorAll('.dropdown-trigger');
  var instances = M.Dropdown.init(elems, { hover: false, coverTrigger: false });

  // Slider
  var elem = document.querySelector('.slider');
  var instance = M.Slider.init(elem, { height: 350, indicators: false });
  
  $('.tabs').tabs();

</script>
