---
layout: default
title: Home
---

<div class="row">
  {% for teaser in site.data.home.teaser.teaser %}
    <div class="col s12 m6 l4">
      <div class="card teaser">
        <div class="card-content">
          <img src="{{ site.baseurl }}/assets/img/teaser/{{ teaser.img-url }}" alt="">
          <h5>{{ teaser.name }}</h5>
          <hr>
          <article>
            <p>{{ teaser.text }}</p>
          </article>
        </div>
        <div class="card-action">
          <a href="{{ teaser.url }}">Weiterlesen</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% include Parallax.html image="assets/img/wien_outside.png" height="450px" %}

<div class="container">
<h1>Neuigkeiten</h1>
<hr>

<div class="row">
  {% for news in site.data.news.news %}
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ site.baseurl }}/assets/img/news/{{ news.img-url }}" alt="">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ news.title }}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal" style="opacity: .9">
          <span class="card-title grey-text text-darken4"><i class="material-icons right">close</i></span>
          <div class="container">
            <h5>{{ news.title }}</h5>
            <hr>
            <p>{{ news.text }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style scoped>
  .teaser img {
    width: 30%;
    transform: translate(100%, 0);
  }
  
  .teaser h5 {
    text-align: center;
  }

  /* styles for '...' */ 
  .teaser p {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 9.5em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  }
  /* create the ... */
  .teaser p:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .teaser p:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }

  .card p {
    white-space: pre-line;
  }

  @media screen and (max-width: 1637px) {
    .teaser h5 {
      font-size: 110%;
    }
  }

  @media screen and (max-width: 1165px) {
    .teaser h5 {
      font-size: 80%;
    }
  }

  @media screen and (max-width: 992px) {
    .teaser h5 {
      font-size: 130%;
    }
  }

  @media screen and (max-width: 600px) {
    .teaser h5 {
      font-size: 200%;
    }

    .teaser p {
      max-height: 9em; 
    }
  }
</style>