---
layout: default
title: Home
---

<div class="row">

  {% for brand in site.data.brands.brand.brands %}

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{ brand.img-url }}">
        <a class="btn-floating halfway-fab waves-effect waves-light red dropdown-trigger" data-target="brand_dropdown"><i class="material-icons">menu</i></a>
      </div>

      <div class="card-content">
        <span class="card-title">{{ brand.title }}</span>
      </div>

      <div class="card-reveal">
        <p>{{ brand.info }}</p>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<ul id="brand_dropdown" class="dropdown-content">
  <li><a href="#!" class="activator">Geschichte</a></li>
  <li><a href="#!">Impressionen</a></li>
  <li><a href="#!">Shop</a></li>
  <li><a href="{{ site.baseurl }}">Hauptmenü</a></li>
</ul>
