---
layout: default
title: Home
---

<!-- banner nur bei home  -->
  <!-- <div class="slider">
    <ul class="slides">
      {% for banner in site.data.default.banner.banner %}
      <li>
        <img src="assets/img/banner/{{banner.img-url}}" alt="">
      </li>
      {% endfor %}
    </ul>
  </div> -->

  <!-- home teaser   -->
  {% include teaser/home-teaser.html %}

  <!-- BRANDS  -->
  <div class="row">

    <h5>UNSERE BRANDS</h5>
    <hr>

    {% assign brand = site.data.brands.brands %}
    {% include card.html item=brand size="s12 m6" %}
    
  </div>

  <!-- SHOPS -->

  <div class="row">

    <h5>UNSER SHOP</h5>
    <hr>

    {% assign shop = site.data.shops.shop %}
    {% include card.html item=shop size="s12 m6" %}

  </div>
